@import "nib"
@import "utils/reset"
@import "utils/functions"
@import "utils/mixins"

// Variables -----------------------------------------------------------------
$color = #4b5c66
$rdioColor = #008fd5

// Base ----------------------------------------------------------------------
* { box-sizing: border-box }
.loading * { cursor: wait }

html
  font-size: 62.5%
  height: 100%

body
  font-size: 32

body, legend, input, textarea, button
  font-family: "open-sans", Helvetica Neue, Arial, sans-serif
  font-weight: 300
  line-height: 1.4
  color: $color

a { color: $rdioColor }
a:focus, a:hover { color: darken($rdioColor, 10) }

h1, h2, h3, h4 { font-family: "freight-sans-pro", Helvetica Neue, Arial, sans-serif }

h1
  color: $rdioColor
  margin: 5% 0
  small { font-size: 18 }

// Layout --------------------------------------------------------------------
.wrapper
  @extends .clear
  position: relative
  width: 80%
  max-width: 1280px
  margin: auto

section
  margin: 10% 0

// Songs ---------------------------------------------------------------------
.songs { position: relative }

ul
  position: absolute
  top: 100%; left: 0
  width: 100%
  margin: 4px 0 0
  font-size: 0
  list-style-type: none
  box-shadow: 1px 1px 10px rgba(#000, .05)

  a
    padding: 6px
    display: block
    background-color: #fff
    background-color: rgba(#fff, .95)

  a:hover, a:focus
    color: #fff
    background-color: rgba($rdioColor, .95)

  img { display: block }
  div { display: inline-block; vertical-align: top }

  .img { width: 20% }

  .song
    width: 80%
    padding: 0 0 0 2%

  span
    display: block
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

  .name { font-size: 28 }
  .artist { font-size: 18 }

li + li
  border-top: 1px solid lighten($color, 60)

// Form ----------------------------------------------------------------------
input
  $color = lighten($color, 40)

  color: darken($color, 20)
  border: none
  border-bottom: 1px solid $color
  margin: 0 .2em

  &::-webkit-input-placeholder { color: $color }
  &:-moz-placeholder { color: $color }
  &:-ms-input-placeholder { color: $color }

.actions { text-align: center }

.button
  cursor: pointer
  display: inline-block
  color: #fff
  padding: .4em .6em
  margin: 8% 0
  border-radius: 9px
  background: $rdioColor

  &:hover, &:focus
    color: #fff
    background-color: darken($rdioColor, 10)

// Footer --------------------------------------------------------------------
footer
  font-weight: 400
  font-size: 14
  text-align: center
  padding: 10% 0
