<section>
  Ask <input type="text" name="username" placeholder="username" value="">
  to add
  <span class="songs">
    <input type="text" placeholder="song" name="song" value="">
    <ul></ul>
  </span>
  to <span id="gender">his</span> <select name="playlists" disabled><option value="0">Select a playlist</option></select> playlist.

  <div class="actions">
    <a class="button" href="javascript: alert('I have yet to find a way to notify the user :(')">Pull rquest</a>
  </div>
</section>
