<form action="/create" method="post">
  Ask
  <span id="user" class="input-group">
    <span class="icon"></span>
    <input type="hidden" name="user" value="">
    <input type="text" id="username" placeholder="username" spellcheck="false" value="">
  </span>

  to add
  <span id="song" class="input-group">
    <span class="icon"></span>
    <input type="hidden" name="song" value="">
    <input type="text" id="song-name" placeholder="song" spellcheck="false" value="">
    <ul></ul>
  </span>

  to <span id="gender">his</span>
  <select name="playlists" disabled>
    <option value="0">Select a playlist</option>
  </select>
  playlist.

  <div class="actions">
    <input type="submit" class="button" value="Pull rquest">
  </div>
</form>
