<form>
  <input type="hidden" name="username_key" valye="0">
  Ask
  <span id="user">
    <span class="avatar"></span>
    <input type="text" name="username" placeholder="username" spellcheck="false" value="">
  </span>
  to add
  <span class="songs">
    <input type="hidden" name="song_key" valye="0">
    <input type="text" placeholder="song" name="song" spellcheck="false" value="">
    <ul></ul>
  </span>
  to <span id="gender">his</span> <select name="playlists" disabled><option value="0">Select a playlist</option></select> playlist.

  <div class="actions">
    <input type="submit" value="Pull rquest">
  </div>
</form>
