<section>
  Ask <input type="text" name="username" placeholder="username" value="">
  to add <input type="text" placeholder="song" name="song" value="">
  to <span id="gender">his</span> <select name="playlists" disabled><option value="0">Select a playlist</option></select> playlist.
</section>
